/* Rue's Art Website CSS File */ 

@font-face {font-weight: normal;
	font-style: normal; }


body  { font-family: bookman old style, calibri, arial, sans-serif; 
	font-size: 16px; 
	line-height: 1.5;
	margin: 0;
	padding: 0;
	background: white url(images/sunbackground.png)  ; } 

h1, h2, h3 { font-family: georgia, garamond, serif ; 
		font-weight: normal ; }


h2 { font-size: 150% ;
	text-align:center; 
	font-weight: bold;
	margin-top: 5px; 
	margin-bottom: 5px; }

h3 { font-size: 120% ;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px; }


p, h1, h2, h3, h4, ol, ul { margin-top: 0; 
			margin-bottom: 1px;
			margin-left: 5px; }


ol { padding-left: 0; 
	margin-left: 30px; }


a { color: #8c5900; 
	text-decoration: none; 
	border-bottom: 1px solid #898989; 
	padding-bottom: 1px; }

a:visited {color: black; }

a:hover, a:focus, a:active {background-color: #fff5e8; 
				color:#ff914d; 
				border-bottom-color: #ff914d; }

div#wrapper {
	width: 1456px; 
	margin-left: auto; 
	margin-right: auto;
	margin-top: 10px; 
	margin-bottom: 10px; 
	background-color: white; 
	background-repeat: repeat-y; 
	background-position: left top;
	background-attachment: scroll;
	border: 2px solid #ff914d; }

header { height: 180px; }

header h1, header p { text-indent: -99999999px; }

header { background: white url(images/banner.png) no-repeat; }


article {float: right ; 
	width: 1200px; 
	padding-left: 10px; }

article img { padding: 15px;
	border: 2px solid #ff914d; 
	background-color: white; }


table {border: 1px solid black; }
thead {border: 3px solid #f7d65b;
	color: white; }
th {font-size: 120%;
	border: 1px solid black;
	text-align: center;
	background-color: #ff914d; }

tbody {border: 3px solid #f7d65b;
	font-family: georgia, "times new roman", serif; }
td {text-align: center;
	border: 1px solid black;
	font-size: 90%; }


nav {float: left ;
	width: 200px; 
	padding-right: 5px; }

nav h3 { font-size: 120% ;
	text-align: center;
	padding-bottom: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 2px solid #ff914d;
	border-bottom: none; 
	border-left: none; }

nav h4 { font-size: 135% ;
	text-align: center;
	color: #ff914d; 
	border: 2px solid #f7d65b;
	border-bottom: none;
	padding-top: 25px;
	margin-top: 5px;
	margin-bottom: 5px; }

nav p {text-align: center;
	padding: 5px;
	padding-bottom: 25px; }

nav ul { list-style-type: none; 
	text-align: center;
	border: 2px solid #f7d65b; 
	margin-left: 5px; 
	padding-left: 5px; 
	padding-right: 5px;
	padding-bottom: 25px;
	border-top: none;}

nav a:hover {background-color: white; }

footer {clear: both ; 
	padding: 10px; 
	font-size: 75%; 
	height: 1%;
	background-color: #ff914d; 
	color: #ffffff;
	border-top: 2px dotted #464646; }

footer a:link {color: yellow; }

footer a:hover, footer a:focus, footer a:active {background-color: transparent; border: none; }

caption {display: none; }




